@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom scrollbar-hiding styles */
.hide-scrollbar::-webkit-scrollbar {
    display: none;
  }
  
  .hide-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;     /* Firefox */
  }

  /* for buttons like submit , login, save, book */
  .primary-button {
    @apply bg-[#6E39A3] text-sm text-white px-3 py-1.5 rounded-md font-medium;
  }

  /* for buttons like filters, secondary purpose buttons */
  .secondary-button {
    @apply  text-sm bg-white border-[#3A0D5C] text-[#3A0D5C] border-2 px-3 py-1.5 rounded-lg font-medium
  }

  .approve-button {
    @apply bg-green-500 hover:bg-green-600 text-white px-4 py-2 rounded-lg
  }

  .reject-button {
@apply bg-red-500 hover:bg-red-600 text-white px-4 py-2 rounded-lg
  }

  
  